@model CrudInterface.Models.Usuario
@{
    if (Session["usuarioLogadoID"] == null)
    {
        ViewBag.Title = "Login";
    }
    else
    {
        ViewBag.Title = "Doctor WEB";
    }
}
@if (Session["usuarioLogadoID"] == null)
{
<div style="background-color: #FFFFCC;text-align:center;position:absolute;left:50%;top:50%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);">
    <h2>Login</h2>
    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
    {
        //cria a tag do formulário
        @Html.AntiForgeryToken() // previne o ataque CSRF
        @Html.ValidationSummary(true)
        <table>
            <tr>
                <td>@Html.LabelFor(a => a.NomeUsuario)</td>
                <td>@Html.TextBoxFor(a => a.NomeUsuario)</td>
                <td>@Html.ValidationMessageFor(a => a.NomeUsuario)</td>
            </tr>
            <tr>
                <td> @Html.LabelFor(a => a.Senha)</td>
                <td> @Html.PasswordFor(a => a.Senha) </td>
                <td> @Html.ValidationMessageFor(a => a.Senha) </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Login" />
                </td>
                <td></td>
            </tr>
        </table>
        if (@ViewBag.Message != null)
        {
            <div style="border:2px solid red;background-color: #000;color:white">
                @ViewBag.Message
            </div>
        }
    }
</div>
}
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}